# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# VS Code
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Power BI autosave
*.tmp

# DuckDB WAL
*.wal

# macOS
.DS_Store

# Windows
Thumbs.db
# Python cache
.pytest_cache/
.coverage

# Environment
.env

# DuckDB temporary
*.duckdb.tmp

# Generated processed datasets
data/processed/

# Generated analytical datasets
data/analytical/
# Power BI reports
powerbi/*.pbix

# Raw source datasets
data/raw/